@font-face {
  font-family: 'open_sans_semibold';
  src: url('fonts/opensans-semibold-webfont.eot');
  src: url('fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/opensans-semibold-webfont.woff') format('woff'),
       url('fonts/opensans-semibold-webfont.ttf') format('truetype'),
       url('fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
}
@font-face {
  font-family: 'open_sans_italic';
  src: url('fonts/opensans-italic-webfont.eot');
  src: url('fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/opensans-italic-webfont.woff') format('woff'),
       url('fonts/opensans-italic-webfont.ttf') format('truetype'),
       url('fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
}
@font-face {
  font-family: 'open_sans';
  src: url('fonts/opensans-regular-webfont.eot');
  src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/opensans-regular-webfont.woff') format('woff'),
       url('fonts/opensans-regular-webfont.ttf') format('truetype'),
       url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
}
@font-face {
  font-family: 'fjalla';
  src: url('fonts/fjallaone-regular-webfont.eot');
  src: url('fonts/fjallaone-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/fjallaone-regular-webfont.woff') format('woff'),
       url('fonts/fjallaone-regular-webfont.ttf') format('truetype'),
       url('fonts/fjallaone-regular-webfont.svg#fjallaoneregular') format('svg');
}