*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul,li{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
body{
	margin: 20px 0 40px;
	font-family: 'open_sans';
}
/*--- Begin Containers ---*/
#artist-list-container{

}
#artist-detail-container{
	width: 100%;
	padding: 0 2.5%;
	position: absolute;
}
#about-container{
	width: 100%;
	padding: 0 2.5%;
	clear: both;
}
.about{
	border: 1px solid #666;
}
.artist-details{
	background-color: rgba(255,255,255,0.9);
	border: 1px solid #666;
}
/*--- End Containers ---*/
/*--- Begin Grid ---*/
.col-container > [class*="col"]{
	float: left;
	margin: 0 0 20px 0;
}
.col-container > [class*="col"].last{
	margin-right: 0;
}
.col-container > [class*="col"] img{
	width: 100%;
	height: auto;
	display: block;
}
.col1 {width: 5.5%;}
.col2 {width: 14%;}
.col3 {width: 22.5%;}
.col4 {width: 31%;}
.col5 {width: 39.5%;}
.col6 {width: 48%;}
.col7 {width: 56.5%;}
.col8 {width: 65%;}
.col9 {width: 73.5%;}
.col10 {width: 82%;}
.col11 {width: 90.5%;}
.col12 {width: 99%; margin: 0;}
@media all and (max-width: 600px){
	#artist-detail-container{
		width: 97%;
	}
	.col-container > [class*="col"]{
		float: none;
		width: 97%;
		margin-right: 0 !important;
	}
}
/*--- End Grid ---*/
/*--- Header Begin ---*/
h1{
	font-family: fjalla;
}
h1 span{
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
