
    <script type="text/template" id="artist-bio-template">
      <div>
        <b>Full Name: </b><span><%= fullName %></span>
      <div>

    </script>

    <script type="text/template" id="artist-voice-template">
      <div>
        <b>Vocal Type: </b><span><%= vocalType %></span>
      <div>

    </script>

    <script type="text/template" id="artist-love-template">
      <div>
        <b>Why I love her: </b><span><%= love1 %></span>
      <div>

    </script>

    <script type="text/template" id="music-template">
      <div class='artist'>
        <div>
          <b>Album: </b><span><ul class="albums"></ul></span>
        </div>
      </div>
    </script>