<div class="artist-details">
  <a href="#artists/" class="close-btn"></a>
  <div class="col4">
  	<div class="col12">
  		<img class="artist-main-img" src="pics/<%= path %>/main-img.jpg">
  	</div>
  	<div class="col6">
  		<img src="pics/<%= path %>/img01.jpg">
  	</div>
  	<div class="col6 last">
  		<img src="pics/<%= path %>/img02.jpg">
  	</div>
  	<div class="col6">
  		<img src="pics/<%= path %>/img03.jpg">
  	</div>
  	<div class="col6 last">
  		<img src="pics/<%= path %>/img04.jpg">
  	</div>
  	<div class="col6">
  		<img src="pics/<%= path %>/img05.jpg">
  	</div>
  	<div class="col6 last">
  		<img src="pics/<%= path %>/img06.jpg">
  	</div>
  </div>
  <div class="col8 last">
  	<div class="col12">
   		<h2 class="artist-name"><%= name %></h2>
   	</div>
   	<div class="col12">
   		<nav id="nav"></nav>
   	</div>
   	<div class="col12">
	  	<div id="artist-detail-section"></div>
	  </div>
  </div>
</div>